<div class="ibox-title">
    <h5>Камеры</h5>

</div>
<div class="ibox-content">
    <button type="button" class="btn btn-primary" ng-click="vm.createNewCam()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Добавить камеру
    </button>
    <p class="text-success pull-right" ng-show="successAddCamera">Камера успешно добавлена</p>
    <br>
    <br>
    <table class="table table-bordered dataTable" role="grid">
        <thead>
        <th>№</th>
        <th>Имя</th>
        <th>Ссылка</th>
        <th>Ссылка для просмотра</th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="camera in vm.cameras">
            <td>{{$index + 1}}</td>
            <td>{{camera.name}}</td>
            <td>{{camera.link}}</td>
            <td><a href="/camera/video/{{camera.proxy_link}}">{{camera.proxy_link}}</a></td>
            <td><a class="btn btn-success" ng-click="vm.editCamera(camera)"><i class="fa fa-edit" aria-hidden="true"></i> <span
                    class="nav-label"></span>
                <span class="nav-label ng-binding">Изменить</span></a></td>
            <td><a class="btn btn-danger" ng-click="vm.deleteCamera(camera.id)"><i class="fa fa-trash" aria-hidden="true"></i> <span
                    class="nav-label"></span>
                <span class="nav-label ng-binding">Удалить</span></a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
